p{
    background-color: red;
    text-shadow: 2px;
}
#fuckboy{
    background-color: green;
}
#chutia{
    background-color: blue;
}
.header{
    color: aqua;
    text-align: right;
}
head{
    background-color: brown;
}
.Rakib{
    text-shadow: 60px;
}